@font-face{
  font-family: 'Aileron';
  src:url(../fonts/Aileron-Heavy.otf);
  font-style: normal;
  font-weight: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    background: #aaaaaa;
    font-family: Aileron;
    width: 100vw;
}
/*TOP-HEADER*/
.top-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #001232;
    min-height: 50px;
    
}
.top-header a{
    text-decoration: none;
    color: white;
    cursor: default;
    
}

.top-header .number{
   margin-right: 40px;
   margin-left: 40px;
}

.top-header a i{
    margin-right: 5px;
    color: #F8D026;
}

/*HEADER*/
.menu-btn{
    position: absolute;
    cursor: pointer;
    top: 18px;
    right: 30px;
    z-index: 2;
    font-size: 1.5rem;
    display: none;
}

.container-header{
    width: 100vw;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #1e212d;
    flex-wrap: wrap;
    z-index: 101;
    min-height: 70px;
    align-items: center;
}

.container-header ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.container-header ul li{
    margin: 0 50px;
    text-align: center;
    transition: border-bottom 0.1s linear;
}

.container-header ul li a{
    text-decoration: none;
    color:  #f4f9f9;
    padding: 10px 0;
    
}

.container-header ul li:hover{
    border-bottom: #fff solid 4px; 
}

#last-element-header{
    margin-right: 0px;
}

#logo{
    max-width: 150px;
    max-height: 150px;
}

/*BOTON FLOTANTE DE WSP*/
.btn-wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 1.9rem;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: transform 0.4s ease-in-out;
}

.btn-wsp:hover{
    transform: scale(1.2);
}



/*CONTAINER MAIN*/
.container-main{
    /* padding-top: 104px; */
    width: 100vw;
}
/*ABOUT US*/
.container-main .about-us{
    min-height: 450px;
    background-color: springgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(../img/background-about-us2-modificado-2.jpg) no-repeat center center/cover;

}

/* .text-container{

} */
.Nosotros{
    max-width: 45%;
    align-self: flex-start;
    margin-top: 30px;
}

.Nosotros > h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    max-width: 200px;
    margin: 0 auto;
    border-left: solid 12px #071a52;
    color: white;
    line-height: 2.3rem;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);    
}

.Nosotros > ul{
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    font-weight: 300;
    font-size: 1.2rem;
    max-width: 100%;
    text-align: justify;
    color: #eeeeee;
}

.Nosotros > ul > li{
    display: flex;
}

.Nosotros > ul > li > p{
    margin-left: 10px;
}
.Nosotros > ul > li > i{
    font-size: 1rem;
    padding-top: 5px;
}


.objetivos{
    max-width: 45%;
    margin-top: 30px;
    margin-right: 25px;
    align-self: flex-start;
}
.objetivos > h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    max-width: 200px;
    margin: 0 auto;
    border-left: solid 12px #071a52;
    color: white;
    line-height: 2.3rem;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);    
}

.objetivos > ul{
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    font-weight: 300;
    font-size: 1.2rem;
    max-width: 100%;
    text-align: justify;
    color: #eeeeee;
    list-style: none;
}
.objetivos > ul >li{
    display: flex;
}

.objetivos > ul > li > p{
    margin-left: 10px;
}
.objetivos > ul > li > i{
    font-size: 1rem;
    padding-top: 5px;
}

/*MISION - VISION*/

.mision-vision{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    padding-bottom: 100px;
}

.mision-vision .sub-mision-vision{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.mision{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.mision > img{
    max-width: 45%;
}


.mision > .texto{
    max-width: 45%;
    margin-top: 50px;
    margin-left: 50px;
}
.mision > .texto > h2{
    color: #111111;
    font-family: Aileron;
    font-size: 2.3rem;
}
.mision > .texto > p{
    color: #444444;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    line-height: 1.5rem;
    font-size: 1.1rem;
}

.vision{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.vision > img{
    max-width: 45%;
}

.vision > .texto{
    max-width: 45%;
    margin-top: 0px;
}
.vision > .texto > h2{
    color: #111111;
    font-family: Aileron;
    font-size: 2.3rem;
}
.vision > .texto > p{
    color: #444444;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    line-height: 1.5rem;
    font-size: 1.1rem;
}
/*CARACTERÃSTICAS*/
#caracteristicas{/*SECCION PARA TRANSICION DEL HEADER*/
    height: 0px;
}
.caracteristicas{
    display: flex;
    min-height: 200px;
    justify-content: space-evenly;
    align-items: center;
    background: #b68973;
    color: #f4f9f9;
    font-family: 'Montserrat', sans-serif;
    flex-wrap: wrap;
}

.experience{
display: flex;
flex-direction: column;
align-items: center;
}

.experience i{
    font-size: 30px;
    padding-bottom: 20px;
}
.experience span{
    text-shadow: 0px 0px 2px #ccc;
}

.finished-works{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.finished-works i{
    font-size: 30px;
    padding-bottom: 20px;
}

.finished-works span{
    text-shadow: 0px 0px 2px #ccc;
}

/*CONTACT*/
.contact-social{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    font-family: 'Nunito', sans-serif;
}

.social-networks{

    border: black solid 1px;
}

.social-networks > h2{
    font-weight: 900;
    text-align: center;
    margin: 20px 0;
    color: #682c0e;
    font-style: italic;
}
.medios-contacto{

    border: black solid 1px;
}

/*FONDO MI VIVIENDA*/
.mivivienda{
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: #8bcdcd;
}
.swiper-container {
    max-width: 95%;
    height: 470px;
}

.swiper-slide{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 30px;
}

.swiper-slide > h1{
    max-width: 700px;
    text-align: center;
    font-family: Aileron;
    font-size: 60px;
    font-style: italic;
    color: black;
}
.ubicacion-mivivenda{
    justify-content: space-evenly;
}
.ubicacion-mivivenda > P{
    max-width: 40%;
    font-family:'Montserrat', sans-serif;
    font-size: 1.9rem;
}

.ubicacion-mivivenda > iframe{
    width: 540px;
    height: 400px;
    border-radius: 10px;
}

.requisitos-mivivenda {
    /* border: black solid 2px; */
    flex-direction: column;
    justify-content: flex-start;
}
.requisitos-mivivenda > h2{
    font-family: Aileron;
    font-size: 2.7rem;
    color: white;
    margin-top: 60px;
    margin-bottom: 20px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);    
}
.requisitos-mivivenda > ul{
    font-family:'Montserrat', sans-serif;
    font-weight:500;
    font-size: 1.3rem;
    color: #000000;
}

.beneficios-mivivienda{
    flex-direction: column;
    justify-content: flex-start;
}
.beneficios-mivivienda> h2{
    font-family: Aileron;
    font-size: 2.0rem;
    color: rgb(255, 255, 255);
    margin-top: 90px;
    margin-bottom: 30px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);   
    text-align: center;
}
.beneficios-mivivienda > ul{
    max-width: 700px;
    font-family:'Montserrat', sans-serif;
    font-weight:500;
    font-size: 1.3rem;
    color: #000000;
}

.entidad{
    
    flex-direction: column;
    justify-content: space-evenly;
}
.entidad > p{
    font-family: Aileron;
    color: rgb(255, 255, 255);
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);  
    font-size: 2.0rem;
    max-width: 70%;
    text-align: center;
}

/*FOOTER*/
.footer{
    background-color: #000000;
    height: 30px;
    font-family:'Montserrat', sans-serif;
    color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*thumbnail*/
/* .imagenes-requisitos{
    display: block;
}

.swiper-container-2{
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

  .swiper-slide-2{
    background-size: cover;
    background-position: center;
    
  }

  .gallery-top {
    height: 80%;
    width: 100%;
  }

  .gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .gallery-thumbs .swiper-slide-2 {
    height: 100%;
    opacity: 0.4;
  }

  .gallery-thumbs .swiper-slide-2-thumb-active {
    opacity: 1;
  } */

@media (max-width: 1024px){

    .top-header{
        justify-content: flex-start;
    }

    .container-header{
        
        justify-content: space-around; /*cambio*/
    }
    
    .container-header ul li{
        margin: 0 30px; /*cambio*/
        
        font-size: 0.8rem;/*cambio*/
    }
    
    .container-header ul li a{
    
        padding: 5px 0;/*cambio*/

    }
   
    
    #logo{ /*cambio*/
        max-width: 120px;
        max-height: 70px;
    }

    .ubicacion-mivivenda > iframe{ /*cambio*/
        width: 450px;
        height: 380px;
    }
}

@media (max-width: 816px){
    
    .top-header{
        justify-content: center;
    }
    .top-header .number{
        margin-left: 0;
    }
    .container-header ul li{
        padding: 10px 0;
    }

    .vision > .texto{
        margin-top: 0px;
    }

    .ubicacion-mivivenda > iframe{
        width: 420px;
        height: 350px;
    }

    .ubicacion-mivivenda > p{
        font-size: 1.5rem;
    }
}
@media (max-width: 767px){
    .Nosotros > h2{

        font-size: 1.7rem; /*cambio*/
    }
    
    .Nosotros > ul{
        
        font-size: 0.9rem;/*cambio*/
    }  

    .objetivos > h2{
        font-size: 1.7rem;  
    }
    
    .objetivos > ul{
        font-size: 0.9rem;
    }

    .vision > img{
        max-height: 320px;
    }

    .mision > img{
        max-height: 320px;
    }

    
    .ubicacion-mivivenda > iframe{ /*cambio*/
        width: 340px;
        height: 340px;
    }

    .requisitos-mivivenda > ul{
        max-width: 70%;
        font-family:'Montserrat', sans-serif;
        font-weight:500;
        font-size: 1.3rem;
        color: #000000;
    }

    .beneficios-mivivienda{
        justify-content: center;
    }
    .beneficios-mivivienda > h2{
        margin-top: 0;
        max-width: 70%;
    }

    .beneficios-mivivienda > ul{
        max-width: 70%;
    }
    .vision > .texto{
        margin-top: 0px;
    }

    .swiper-slide > h1{
        max-width: 80%;
        font-size: 40px;
    }
}
@media (max-width: 544px){

    .container-header ul li{
        margin: 0 15px;
        
    }
    
    .ubicacion-mivivenda > iframe{ /*cambio*/
        width: 200px;
        height: 240px;
    }

    /*MISION VISION*/
    .mision-vision .sub-mision-vision{
        width: 95%;
    }

    .mision{
        justify-content: space-between;
        margin-top: 50px;
    }
    .mision > img{
        max-width: 45%;
    }
    
    
    .mision > .texto{
        margin-top: 60px;
        margin-left: 0;
    }
    .mision > .texto > h2{

        font-size: 1.8rem;
    }
    .mision > .texto > p{    
        margin-top: 10px;
        line-height: 1.1rem;
        font-size: 0.9rem;
    }
    
    .vision{
        justify-content: space-between;
        margin-top: 50px;
        
    }
    
    .vision > img{
        max-width: 45%;
    }
    
    .vision > .texto{
        margin-top: 0px;
        margin-left: 0;
    }
    .vision > .texto > h2{
        font-size: 1.8rem;
    }
    .vision > .texto > p{
        margin-top: 10px;
        line-height: 1.1rem;
        font-size: 0.9rem;
    }

    .requisitos-mivivenda > ul{
        font-weight:500;
        font-size: 1rem;
    }

    
    .ubicacion-mivivenda > P{

        font-size: 1.2rem;
    }


    .beneficios-mivivienda{
        justify-content: center;
    }
    .beneficios-mivivienda> h2{
        margin-top: -40px;
        font-size: 1.8rem;
    }
    .beneficios-mivivienda > ul{

        font-size: 1rem;
    }

    .entidad > p{
        font-size: 1.5rem;
        font-weight:100;
    }
    .entidad > img{
        width: 70%;
    };
    
}

@media (max-width: 480px){

    .container-header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-header > .nav-menu{
        width: 200px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        height: 70vh;        
        transform: translateX(-400px);
        transition: transform 0.5s ease-in-out;
    }

    .container-header > .nav-menu.show{
        transform: translateX(0px);
    };

    .container-header ul .nav-menui{
        text-align: left;
        padding-top: 100px;
    }
    .container-header > ul > #last-element-header{
        width: 150px;
        text-align: left;
    }

    .menu-btn{
        display: block;
    }

    /*ABOUT-US*/

    .about-us{
        flex-direction: column;
        padding-bottom: 40px;
    }
    .about-us > .Nosotros{
        align-self: center;
        max-width: 80%;
    }
    .about-us > .objetivos{
        align-self: center;
        max-width: 80%;
        margin-right: 0;
    }

    /*MISION Y VISION*/

    #mision-vision{
        padding-bottom: 50px;
    }
    .mision-vision .sub-mision-vision{
        flex-direction: column;
        align-items: flex-end;
    }

    .mision{
        flex-direction: column-reverse;
        align-items: center;
       
    }
    .mision >.texto{
        margin-top: 0;
        max-width: 80%;
        margin-bottom: 40px;
    }
    .mision > .texto >h2{
        text-align: center;
    }
    .mision > img{
        max-width: 80%;
    }

    .vision{
        flex-direction: column;
        align-items: center;     
    }
    .vision >.texto{
        max-width: 80%;
        margin-bottom: 40px;
    }
    .vision > .texto >h2{
        text-align: center;
    }
    .vision > img{
        max-width: 80%;
    }

    /*CARACTERISTICAS*/
    .caracteristicas{
        justify-content: space-around;
    }
    .experience{
        margin-bottom: 60px;
    }
}

@media (max-width: 450px){
    /*CARACTERISTICAS*/
    .caracteristicas{
        flex-direction: column;
        padding: 40px 0;
    }

    
    .entidad{
        justify-content: space-around;
        padding: 70px 0;
    }
    .entidad > p{
        font-size: 1.2rem;
    }
}
@media (max-width: 418px){
     /*footer*/
     .footer > p{
         font-size: 10px;
     }
}
@media(max-width: 393px){
    .top-header *{
        font-size: 0.75rem;
    }
    .ubicacion-mivivenda{
        flex-direction: column-reverse;
    }

    .ubicacion-mivivenda > p{
        max-height: 40%;
        max-width: 70%;
        font-size: 1rem;
        font-weight: 500;
    }
}
@media (max-width: 320px){
    /*Top-Header*/
    .top-header *{
        font-size: 0.7rem;
    }
    
    .swiper-slide > h1{
        font-size: 30px;   
    }

    
    .requisitos-mivivenda > h2{
        font-size: 2.2rem;
    }

    .beneficios-mivivienda > h2{
        font-size: 1.5rem;
    }

   

}
